/*General Styling*/
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Times New Roman', Times, serif;
}

body{
  margin: 50px;
  background-color: lightgray;
}

.btn{
  text-decoration: none;
  color: lightgray;
  background-color: purple;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 10px;
  box-shadow: -2px 3px gray;
  margin: 10px 25px;
}

.btn:hover {
  box-shadow: -2px 2px gray;
  background-color: rgb(212, 64, 212);
}
/*End General Styling*/

/*Sticky bar*/
.sticky-bar{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.highscores-link button{
  text-decoration: none;
  color: lightgray;
  background-color: purple;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 10px;
  box-shadow: -2px 3px gray;
}

.highscores-link button:hover{
  background-color: rgb(212, 64, 212);
  box-shadow: -2px 2px gray;
}

.time-counter{
  float: right;
}

.time-counter p{
  color: lightgray;
  background-color: purple;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 10px;
  box-shadow: -2px 3px gray;
}
/*End Sticky bar*/

/*Start Menu*/
#start-menu{
  display: flex;
  flex-direction: column;
  align-items: center;
}

#start-menu h1{
  margin: 25px 0;
  font-size: 48px;
  color: purple;
  font-weight: bold;
}

#start-menu p{
  font-size: 36px;
  text-align: center;
  margin-bottom: 15px;
}

#start-menu p{
  font-size: 36px;
}
/*End Start Menu*/

/*Questions section*/
#questions{
 display: flex;
 flex-wrap: wrap;
 flex-direction: column;
 align-items: center;
 border-bottom: 3px solid purple;
}

#question-prompt h2{
  text-align: center;
  font-size: 48px;
  margin-top: 25px;
}

#question-buttons{
  display: flex;
  flex-direction: column;
}

#feedback{
  display: inline-flex;
  justify-content: space-between;
  color: purple;
  font-size: 32px;
  margin: 10px 25px;
}

#time-penalty{
  float: right;
  color: purple;
  font-size: 32px;
  margin: 10px 25px;
}
/*End Questions section*/

/*Game Over Section*/
#game-over{
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
}

#game-over h2{
  color: purple;
  font-size: 64px;
  font-weight: bolder;
  margin: 25px 0 10px 0;
}

#game-over p{
  font-size: 32px;
  
}

#save-data{
  display: flex;
  flex-wrap: nowrap;
}

#save-data button{
  margin: 0;
}

#save-data input{
  outline: none;
  border: none;
  font-size: 32px;
  padding: 10px;
  border: 2px solid gray;
  border-radius: 10px;
}
/*End Game Over Section*/

/*High Scores*/
#high-scores-page{
  display: flex;
  flex-direction: column;
  align-items: center;
}

#high-scores-page h1{
font-size: 64px;
color: purple;
}

#high-scores-page ul{
  margin: 25px 0;
  list-style: none;
}

#high-scores-page li{
  font-size: 32px;
  color: violet;
  padding: 10px 50px 10px 25px;
  background-color: gray;
  border: 2px solid white;
  border-bottom: none;
}

#high-scores-page li:last-child{
  border-bottom: 2px solid white;
}
/*End High Scores*/

@media screen and (max-width:525px){
  body{
    margin: 15px;
  }
  
  #question-prompt h2{
    text-align: center;
    font-size: 32px;
    margin-top: 25px;
  }
   
  .question-buttons{
    display: flex;
    flex-direction: column;
  }
   
  .question-buttons button{
    margin: 12px 25px;
    font-size: 16px;
  }
  
  #feedback{
    display: flex;
    justify-content: space-between;
    color: purple;
    font-size: 24px;
    margin: 10px 12px;
  }
   
}